.carte {
    border: 2px solid #000; /* Couleur et épaisseur de la bordure */
    border-radius: 8px; /* Rayon de la bordure arrondie */
    padding: 10px; /* Espacement à l'intérieur de la bordure (facultatif) */
    width: 600px;
    height: 200px;
    display: flex;  /* Utilise la disposition flexible (Flexbox) */
    flex-direction: row;  
    background-color: #3498db; /* Bleu vif */
    font-family: 'Roboto', sans-serif; /* Police Roboto */
    color: #ffffff; /* Texte en blanc pour un meilleur contraste */
}

.carte img{
    width: 195px;
    height: 195px;
    margin-right: 10px;
    border: 0.5px solid #000; /* Couleur et épaisseur de la bordure */
    border-radius: 8px; /* Rayon de la bordure arrondie */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajoutez une ombre avec une couleur noire semi-transparente */
}

h2 
{
    margin: 0;
}
.carte p{
    margin-bottom: 0;
    margin-top: 10px;
}
