:root {
    --CouleurBordure:#484538;
    --CouleurPrimaire: #56A3A6;
    --CouleurSecondaire: #3498db;
    --CouleurTexte: #C0D8E0;
}

.titrePage
{
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

/* Réinitialisation des marges et des paddings pour la liste */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

/* Styles pour chaque élément de la barre de navigation */
.navbar li {
    flex-grow: 1;
    text-align: center;
}

.navbar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

/* Dropdown pour les thèmes */
.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Pour occuper l'espace restant et centrer */
}
.dropdown select {
    max-width: 200px; /* Ajuste la largeur maximale selon ton besoin */
}

.accueilTexte
{
    display: flex;
    flex-direction: column;
    align-items: left;

}

.containerTexte
{
    border: 2px solid rgb(0, 0, 0); /* Couleur et épaisseur de la bordure */
    box-shadow: 0 0 10px rgba(var(--CouleurBordure), 0.9);
    border-radius: 8px; /* Rayon de la bordure arrondie */
    padding: 10px; /* Espacement à l'intérieur de la bordure */
    border-radius: 8px; /* Rayon de la bordure arrondie */
    margin-bottom: 10px; /* Espace entre chaque conteneur */
    margin-top: 10px; /* Espace entre chaque conteneur */
}

.logoN2I
{
    float : right;  
}

.carte {
    border: 2px solid var(--CouleurAura); /* Couleur et épaisseur de la bordure CouleurAura definit dans le js*/
    border-radius: 8px; /* Rayon de la bordure arrondie */
    padding: 10px; /* Espacement à l'intérieur de la bordure (facultatif) */
    width: 600px;
    height: 200px;
    display: flex;  /* Utilise la disposition flexible (Flexbox) */
    flex-direction: row;  
    background-color: var(--CouleurPrimaire); /* Bleu vif */
    font-family: 'Roboto', sans-serif; /* Police Roboto */
    color: var(--CouleurTexte); /* Texte en blanc pour un meilleur contraste */
}

.carte img{
    width: 195px;
    height: 195px;
    margin-right: 10px;
    border: 0.5px solid var(--CouleurBordure); /* Couleur et épaisseur de la bordure */
    border-radius: 8px; /* Rayon de la bordure arrondie */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajoutez une ombre avec une couleur noire semi-transparente */
}


h2, h3
{
    margin: 0;
    width: auto;
}

.carte p{
    margin-bottom: 0;
    margin-top: 10px;
}

.containerTitre
{
    display: flex; 
    justify-content: space-between;
}

/* Styles pour le modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Fond semi-transparent */
}

/* Contenu du modal */
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    overflow-y: auto;
    max-height: 400px;
}

/* Bouton de fermeture du modal */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Affichage du modal */
.modal.show {
    display: block;
}

.modal-content h2 {
    text-align: center;
}

.modal-content {
    position: relative; /* Pour que la position des éléments internes soit relative à ce conteneur */
}

.modal-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Styles pour les boutons */
.continue-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.continue-button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

/* Styles pour les boutons de navigation */
.modal-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.prev-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.prev-button:hover {
    background-color: #0056b3;
}

.next-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: auto;
}

.next-button:hover {
    background-color: #0056b3;
}

.next-button.hidden {
    display: none;
}


.jouer-button {
    /* Ajoutez les styles du bouton "Suivant" du premier modal */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: auto;
}

.jouer-button:hover {
    /* Ajoutez les styles du bouton "Suivant" au survol */
    background-color: #0056b3;
}
